#gameTable {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    position: relative;
    width: 1888px;
}

* {
    margin: 0;
    padding: 0;
}

#player {
    position: absolute;
    width: 32px;
    height: 32px;
}